<div class="grid-container">
  <h1 class="mat-h1">داشبورد</h1>
    <mat-list role="list">
      <a [permission]="['Manager']" [routerLink]="['Managers/cprofessors']" >مدیران</a>
      <a href="#" >اساتید</a>
      <a [permission]="['Manager']" href="#" >کارآموزان</a>
      <a [permission]="['Manager']" href="#" >دروس</a>
      <a [permission]="['Manager']" href="#" >دوره ها</a>
      <a [permission]="['Intern']" href="#" >دوره های من</a>
      <a [permission]="['Professor']" href="#" >ارائه های من</a>
    </mat-list>
</div>
