div{
margin-right: 300px;
}
button{
  min-width: 150px;
  margin: 5px;
  padding: 5px;
  border: none;
  border-radius: 5px;
}
button{
  background-color: white;
  outline: none;
}
.b1{
  color: rgb(35, 243, 35);
  border: 1px solid rgb(35, 243, 35);
}
.b2{
  color: rgb(2, 17, 218);
  border: 1px solid rgb(2, 17, 218);

}
.b3{
  color: rgb(218, 2, 110);
  border: 1px solid rgb(218, 2, 110);

}
.d2{
  width: 74%;
  margin: 20px 305px;
}
.d2 table{
  width: 100%;
  background-color: rgba(0, 247, 255, 0.068);
}
