.d1{
  width: 500px;
  direction: rtl;
}
.right{
  text-align: right;
  min-width: 45%;
  padding: 10px;
}
button
{
  background-color: rgb(141, 81, 253);
  min-width: 80px;
  color: white;
  border: none;
  padding: 5px;
  border-radius: 4px;
}
input{
  display: inline-block;
}
.b1{
  margin-right: 160px;
}
span{
  margin-right: 160px;
  color: blueviolet;
}
