<div class="d1">
  <mat-toolbar>
    <span>مشخصات استاد</span>
    </mat-toolbar>
<form *ngIf="current">
<mat-form-field class="right">
  <mat-label for="firstname">نام</mat-label>
  <input [(ngModel)]="current.firstname" matInput type="text" name="firstname" id="firstname">
</mat-form-field>
<mat-form-field class="right" >
  <mat-label for="lastname">نام خانوادگی</mat-label>
  <input [(ngModel)]="current.lastname" matInput type="text" name="lastname" id="lastname">
</mat-form-field>
<mat-form-field class="right">
  <mat-label for="field">تخصص</mat-label>
  <input [(ngModel)]="current.field" matInput type="text" name="field" id="field">
</mat-form-field>
<mat-form-field  class="right">
  <mat-label for="mobile">شماره همراه</mat-label>
  <input [(ngModel)]="current.mobile" matInput type="text" name="mobile" id="mobile">
</mat-form-field>
<mat-form-field class="right" >
  <mat-label for="password">کلمه عبور</mat-label>
  <input [(ngModel)]="current.password" matInput type="text" name="password" id="password">
</mat-form-field>
<mat-form-field class="right" >
  <mat-label for="cpassword">تکرار کلمه عبور</mat-label>
  <input matInput type="text" name="cpassword" id="cpassword">
</mat-form-field>
<mat-form-field appearance="fill" class="right">
  <mat-label for="gender">جنسیت</mat-label>
  <mat-select id="gender" [(ngModel)]="current.gender" name="gender">
    <mat-option value="1">مرد</mat-option>
    <mat-option value="2">زن</mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field class="right">
  <mat-label for="address">آدرس</mat-label>
  <input [(ngModel)]="current.address" matInput type="text" name="address" id="address">
</mat-form-field>
<div mat-dialog-actions>
  <section>
    <div class="example-button-row">
      <button (click)="ok('create')" mat-raised-button class="b1">تائید</button>&nbsp;
      <button mat-raised-button [mat-dialog-close]="true">انصراف</button>
    </div>
  </section>
</div>
</form>
</div>
