.d1{
  width: 300px;
  text-align: right;
}
.right{
  text-align: right;
  min-width: 100%;
}
button
{
  margin: 10px;
  background-color: rgb(141, 81, 253);
  min-width: 80px;
  color: white;
  border: none;
  padding: 5px;
  border-radius: 4px;
}

